.login-title {
  text-align: center;
}
.login-id {
  text-align: center;
  margin-bottom: 5px;
}
.login-password {
  text-align: center;
  margin-bottom: 5px;
}
.login-button-wrapper {
  text-align: center;
  margin: 5px;
}
.error-message {
  color: red;
  font-size: 12px;
}
.hidden-message {
  display: none;
}